<h1>New attraction</h1>

<%= render 'form' %>





<%# <%= form_for :attractions do |f| %>
<%# <%= f.text_field :name  %>
<%# <%= f.text_field :tickets  %>
<%# <%= f.text_field :nausea_rating  %> 
<%# <%= f.text_field :happiness_rating  %> 
<%# <%= f.text_field :min_height  %> 
<%# <%= f.submit "New attraction" %> 
<%# <% end %> 

